@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Revolution&display=swap');

/*Nav Element*/

.navbar {
    display: flex;
    position: relative;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
}

.navbar_elem ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_elem li {
    list-style: none;
}

.navbar_elem li a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: small;
}

.navbar_elem li:hover {
    text-decoration: underline #2ec69b 2px;
    transform: translateX(-10px);
}


/*Achievement Page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home_page_bg {
    background: #34353A;
    padding: 30px;
}

.achie_h1 {
    color: #2ec69b;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-top: 20px;
}

.home_page_bg h3 {
    padding: 20px;
    color: #ffffff;
    border-bottom: 2px solid #2ec69b;
    text-align: left;
}

.home_page_bg p {
    padding-top: 1rem;
    color: #ffffff;
    word-spacing: 0.5em;
    text-align: justify;
}

.AchievEmoji {
    padding-top: 0rem;
    color: #ffffff;
    word-spacing: 0em;
    text-align: justify;
}


/*Contact footer*/

.contactFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-size: 26px;
}

.contactFooter a {
    color: #cbcfd4;
    padding: 1rem;
    filter: drop-shadow(8px 8px 3px #222);
}

.contactFooter a:hover {
    transform: translateY(-10px);
    transition-duration: .5s;
    border: 3px solid #2ec69b;
    color: #fff;
    filter: drop-shadow(2px 2px 5px #2ec69b);
}