@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Revolution&display=swap');

/*Nav Element*/

.navbar {
    display: flex;
    position: relative;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
}

.navbar_elem ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_elem li {
    list-style: none;
}

.navbar_elem li a {
    text-decoration: none;
    color: white !important;
    display: block;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: small;
}

.navbar_elem li:hover {
    transform: translateX(-8px);
    transition-duration: .3s;
    text-decoration: underline #2ec69b 2px;
}


/*Contact page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home_page_bg {
    background: #34353A;
    padding: 30px;
}

.contacth1 {
    color: #2ec69b;
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 30px;
}

.contact_main {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    background-color: #222;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact_main i {
    color: white;
    font-size: small;
}

.contact_main p {
    color: white;
    padding-left: 2rem;
    text-align: center;
    font-size: auto;
}


/*Contact footer*/

.contactFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-size: 26px;
    margin-top: 5rem;
}

.contactFooter a {
    color: #ffffff !important;
    padding: 1rem;
    filter: drop-shadow(8px 8px 3px #222);
}

.contactFooter a:hover {
    transform: translateY(-10px);
    transition-duration: .5s;
    border: 3px solid #2ec69b;
    color: #fff;
    filter: drop-shadow(2px 2px 5px #2ec69b);
}