@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Revolution&display=swap');

/*Background All*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home_page_bg {
    background: #34353A;
}


/*Nav Element*/

.navbar {
    display: flex;
    position: relative;
    background-color: transparent;
    color: #fff;
}

.brand_title {
    font-size: 36px;
    font-weight: 600;
    color: #2ec69b;
    filter: drop-shadow(8px 8px 3px #222);
    /*BOUNCE Animation*/
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(5px);
    }
}

.navbar_elem ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_elem li {
    list-style: none;
}

.navbar_elem li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.toggle_button {
    position: absolute;
    top: 1.5rem;
    right: 1.3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle_button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

@media(max-width: 850px) {
    .toggle_button {
        display: flex;
    }
    .navbar_elem {
        width: 100%;
        display: none;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_elem ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar_elem ul li {
        text-align: center;
    }
    .navbar_elem ul li a {
        padding: 8px 20px;
    }
    .navbar_elem.active {
        display: flex;
    }
}

.navbar_elem li:hover {
    text-decoration: underline #2ec69b 2px;
    transform: translateX(-10px);
}


/* Home Page*/

.home_img {
    background-color: transparent;
    height: 460px;
    width: 460px;
    border: 2px solid #2ec69b;
    border-radius: 460px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px #2e2;
    /*Animation For Image*/
    /*animation: "name - slideInLeft" "duration - 1.5s" "timing-function - ease-out" "delay - 0s" "iteration-count - 1" "direction - normal" "fill-mode - none";*/
    animation: slideInLeft 1.5s ease-out 0s 1 normal none;
}

.home_img img {
    width: 460px;
    height: 460px;
    border-radius: 460px;
}

@media (max-width: 500px) {
    .home_img img {
        width: 350px;
        height: 350px;
        border-radius: 350px;
        align-items: center;
        justify-content: center;
    }
    .home_img {
        width: 350px;
        height: 350px;
        border-radius: 350px;
        align-items: center;
        justify-content: center;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-800px);
    }
    to {
        transform: translateX(0);
    }
}

.name_h1 {
    position: relative;
    color: #454647;
    -webkit-text-stroke: 0.3vw #1c1d1e;
}

.name_h1::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 1;
    width: 100%;
    height: 100%;
    color: #2ec69b;
    -webkit-text-stroke: 0vw #1c1d1e;
    overflow: hidden;
    animation: animate 2s linear 1;
}

@keyframes animate {
    0% {
        width: 0;
    }
    90%,
    100% {
        width: 100%;
    }
}

.home_btn {
    background-color: transparent;
    color: white;
    padding: 9px;
    border: 3px solid #2ec69b;
    border-radius: 5px;
    margin-top: 20px;
}

.home_btn:hover {
    border: 3px solid #fff;
    color: #2ec69b;
}

.animated-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    color: #ffffff;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Web Developer";
    color: #2ec69b;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 50%%;
    background-color: #34353A;
    border-left: 2px solid #2ec69b;
    right: -8px;
    white-space: wrap;
    animation: cursor .8s infinite, typing 15s steps(10) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #34353A;
    }
}

@keyframes words {
    0%,
    35% {
        content: "Web Developer";
    }
    36%,
    70% {
        content: "Frontend Developer";
    }
    71%,
    100% {
        content: "Web Designer";
    }
}

@keyframes typing {
    16%,
    25%,
    53%,
    60%,
    86%,
    92% {
        width: 0;
    }
    8%,
    35%,
    43%,
    70%,
    78%,
    97% {
        width: calc(100% + 8px);
    }
}


/*About ME*/

.aboutH1 {
    color: #ffffff;
    border-bottom: 4px solid #2ec69b;
    text-align: left;
    font-weight: 500;
}

.aboutP {
    color: #ffffff;
    text-align: justify;
    word-spacing: 0.5em;
    padding-top: 1em;
}

.proverb {
    font-style: italic;
    padding-top: 1em;
    color: #ffffff;
}

.apj {
    color: #ffffff;
}


/*Education Qualification*/

.EducationH1 {
    color: #ffffff;
    border-bottom: 4px solid #2ec69b;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}

h3 {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 26px;
    padding-top: 5px;
}

h5 {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    padding-top: 5px;
    font-size: 18px;
}

.dateP {
    color: #ffffff;
    font-weight: 500;
}

hr {
    border: 2px solid #2ec69b;
    border-radius: 5px;
}


/*Contact footer*/

.contactFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 26px;
    margin-top: 30px;
}

.contactFooter a {
    color: #cbcfd4;
    padding: 1rem;
    filter: drop-shadow(8px 8px 3px #222);
}

.contactFooter a:hover {
    transform: translateY(-10px);
    transition-duration: .5s;
    border: 3px solid #2ec69b;
}
