@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Revolution&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.home_page_bg {
    background: #34353A;
    padding: 30px;
    width: 100%;
}


/*Nav Element*/

.navbar {
    display: flex;
    position: relative;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
}

.navbar_elem ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_elem li {
    list-style: none;
}

.navbar_elem li a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: small;
}

.navbar_elem li:hover {
    text-decoration: underline #2ec69b 2px;
    transform: translateX(-10px);
}


/*Achievement Page*/

.achie_h1 {
    color: #2ec69b;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-top: 20px;
}

.home_page_bg h3 {
    padding: 10px;
    color: #ffffff;
    text-align: left;
    filter: drop-shadow(2px 2px 2px #2ec69b);
    margin-top: 10px;
}

.skillsDiv {
    background-color: #585a62;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
}

.skillsDiv img {
    height: 74px;
    padding: 10px;
    filter: drop-shadow(2px 2px 3px #201a1a);
}

.skillsDiv p {
    color: #ffffff;
    padding-top: 10px;
    font-weight: 700;
}

.skillsDiv:hover {
    border: 2px solid #2ec69b;
    transform: translateY(-10px);
    margin-top: 20px;
    transition-duration: .1s;
}


/*Contact footer*/

.contactFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-size: 26px;
}

.contactFooter a {
    color: #cbcfd4;
    padding: 1rem;
    filter: drop-shadow(8px 8px 3px #222);
}

.contactFooter a:hover {
    transform: translateY(-10px);
    border: 3px solid #2ec69b;
    transition-duration: .5s;
}
