.navbar_style{
    background-color: rgb(235, 6, 197);
}
.home_page_bg{
    background-image: radial-gradient(#277BC0,#1d3144);
}
.nav_bar_my_name{
   color: #11d95b;
   font-size: 26px;
   font-weight: bold;
   text-shadow: 2px 2px 10px #22ff77;
   
}

.nav_bar_elament{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
a{
   color: #ff1361;
   font-weight: bold;
}

.home_page_img {
   border-radius: 60px;
}

.home_page_name {
   font-weight: bold;
   font-size: 44px;
   text-shadow: 2px 4px 8px #FFDBA4;
}
.color_changing {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border-color: #000000;
    border-width: 2px;
}


/* animation of name Darasan*/

.animate-charcter {
   text-transform: uppercase;
   background-image: linear-gradient(150deg,
           #600009 0%,
           #22ff77 29%,
           #ff1361 67%,
           #fff800 100%);
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200%;
   color: #fff;
   background-clip: text;
   scrollbar-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
   font-size: 50px;
   font-weight: bold;
}

@keyframes textclip {
   to {
       background-position: 200% center;
   }
}

.home_contact_img {
   height: 15px;
   width: 15px;
   margin: 10px;
   box-shadow: 5px 5px 10px #554994;
}

.home_page_para {
   font-size: 26px;
   font-weight: bold;
   font-family: Monotype Corsiva;
   color: #11d95b;
}

.home_page_big_para {
   font-size: 20px;
   font-weight: normal;
   color: #fff;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.home_page_button {
   font-weight: bold;
   font-size: 20px;
   height: 50px;
   width: 160px;
   padding: 10px;
   border-radius: 25px;
}

.all_line {
    border-style: solid;
    border-width: 1px;
   color: rgb(239, 239, 239);
}

.icon_text{
    color: #ffffff;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.cv_button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border-width: 2px;
    box-shadow: #4b524e 5px 5px 5px 2px ;
}

.cv_button_para{
    font-size: 16px;
    font-weight: bold;
}
.cv_button_icon {
    font-size: 16px;
    font-weight: bold;
}
/*----Skills page----*/

.skill_page_bg{
    background-color: rgb(4, 25, 68);
}

.skill_page_main_h1 {
    color: #FFA000;
    font-size: 46px;
    text-shadow: #000 5px 3px 6px;
    font-weight: bolder;
}

.skill_page_main_h2{
    color: #ccde00;
    font-size: 30px;
    font-weight: bold;
}
.skills_card {
    background-color: #323f4b;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 45%;
    height: 100%;
}

.skills_img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 2px;
}

.skills_card_h1 {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}

.peg_back_line {
    background: #30ff68;
    height: 12px;
    border-radius: 20px;
}

.peg_front_line {
    background-color: #000000;
    height: 12px;
    border-radius: 20px;
    font-size: 10px;
    color: #fff800;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.img_edit{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

/*---achievement page---*/

.achievement_card{
    background-color: #5a5454 ;
    border-radius: 15px;
}

.achievement_card_h1{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.achievement_card_para{
    color: #67b4d7;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;

}


/*----contact icons ----*/


.social_media_btn {
    padding: 12px;
    margin: .29em;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }



  /* changing background on mouse-over */
  
.bg_color {
    background-color: orange;
    height: 100%;
}

.page_top_name {
   font-weight: bold;
   font-size: 40px;
   text-shadow: 2px 4px 5px #59CE8F;
}


.contact_heading {
    font-size: 40px;
    font-weight: normal;
    font-family: Serif;
}

.contect_para {
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto;
    border-radius: 10px;
    color: #fff;
}



/* changing background on mouse-over */

.social_media_btn:hover {
    background-color: blueviolet;
    font-size: large;
    box-shadow: 3 4;
    color: aqua;
}


i {
    font-size: 4;
}

#github {
    color: rgb(0, 0, 0);
}

#linkedin {
    color: rgb(5, 5, 247);
}

#whatsapp {
    color: rgb(15, 255, 6);
}

#telagram {
    color: rgb(0, 132, 255);
}

#email {
    color: brown;
}

#twitter {
    color: cyan;
}

#skype {
    color: #ffffff;
}

#instagram {
    color: deeppink;
}

/*---Footer page ---*/

.footer_page_img{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.footer_page_h1{
    color: #cced00;
    font-size: 26px;
    font-weight: bold;
    font-family: Roboto;
}

.footer_page_para {
    color: #eb00a4;
    font-size: 20px;
    font-weight: normal;
    font-family: Roboto;
}

.footer_page_contact_us_h1{
    color: #ff7f50;
    font-size: 26px;
    font-weight: bolder;
    font-family: sans-serif;
}
.footer_page_contact_us_icon{
    font-size: 26px;
}
.footer_page_contact_us_para{
    color: #fff3ed;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.footer_page_wise_para{
    color: #f9f8f8;
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
}

.footer_address_para{
    color: #fffdfc;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

.footer_page_list{
    list-style-type: none;
}



